<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyedesign.onedic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_dict"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeCustom">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".IdiomsActivity">
        </activity>
        <activity android:name=".IdiomActivity">
        </activity>

        <activity android:name=".SlangsActivity">
        </activity>
        <activity android:name=".SlangActivity">
        </activity>

        <activity android:name=".AntonymsActivity">
        </activity>
        <activity android:name=".AntonymActivity">
        </activity>

        <activity android:name=".SynonymsActivity">
        </activity>
        <activity android:name=".SynonymActivity">
        </activity>

        <activity android:name=".CommonMistakesActivity">
        </activity>
        <activity android:name=".CommonMistakeActivity">
        </activity>

        <activity android:name=".VerbsActivity">
        </activity>

        <activity android:name=".WordsActivity">
        </activity>
        <activity android:name=".WordActivity">
        </activity>

    </application>

</manifest>